*{
    padding: 0.45ch;
   
}

#contacto{
    background: greenyellow;
    width: 100%;
    float: left;
}

#redes{
    background: greenyellow;
    float: right;
}

a{
    color: black;
    text-decoration: none;
}

#login{
    float: right;
}

